<!DOCTYPE html>
<html>
<head>
    <title>Pet Adoption</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>


    <div class="container">
        <h1>הבית של שיר</h1>
        <p>הקדמה קצרה על מטרת האתר.</p>

        <h2>חיות מחמד מומלצות</h2>
        {% for pet in recommended_pets %}
            <div class="pet">
                <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="pet-image">
                <h3>{{ pet.name }}</h3>
                <p>{{ pet.description }}</p>
            </div>
        {% endfor %}

        <h2>תהליך האימוץ</h2>
        <p>לצורך אימוץ חיה, בצעו את הצעדים הבאים:</p>
        <ul>
            <li><strong>סקירה ראשונית:</strong> צוותנו יסקור את הבקשה שלכם ויכול ליצור קשר למידע נוסף.</li>
            <li><strong>פגישה אישית:</strong> אם הבקשה שלכם תאושר, נקבע פגישה אישית עם החיה.</li>
            <li><strong>ביקור בבית:</strong> יתכן שייערך ביקור בביתכם לוודא שהסביבה מתאימה לחיה.</li>
            <li><strong>השלמת תהליך האימוץ:</strong> לאחר כל השלבים, תוכלו להשלים את האימוץ על ידי חתימה על הסכם האימוץ ותשלום דמי האימוץ.</li>
        </ul>

        <h2>דמי אימוץ</h2>
        <p>דמי האימוץ שלנו מכסים את העלויות של טיפול וטרינרי, מזון ומקלט לחיות. דמי האימוץ הם:</p>
        <ul>
            <li>כלבים: 150 - 300 דולר</li>
            <li>חתולים: 75 - 150 דולר</li>
            <li>חיות קטנות: 25 - 75 דולר</li>
            <li>חיות מבוגרות (מעל 7 שנים): 50 דולר</li>
        </ul>
        <p>כל חיה מאומצת מגיעה עם חיסונים, שבב זיהוי, וניתוח סטריליזציה/עיקור.</p>

        <h2>תמיכה לאחר האימוץ</h2>
        <p>אנו מציעים תמיכה לאחר האימוץ כדי להבטיח שהמעבר יהיה חלק ונטול בעיות:</p>
        <ul>
            <li>עצות התנהגות ומשאבים להכשרה.</li>
            <li>טיפים לבריאות ורווחה.</li>
            <li>גישה לשותפים הווטרינריים שלנו לטיפול מתמשך.</li>
            <li>קו טלפון זמין 24/7 לכל שאלה דחופה.</li>
        </ul>

        <nav>
            <a href="{% url 'adoption_process' %}">מידע על תהליך האימוץ</a>
            <a href="{% url 'success_stories' %}">סיפורי הצלחה</a>
            <a href="{% url 'about_us' %}">אודותינו</a>
            <a href="{% url 'resources' %}">רישומי אימוץ</a>
            <a href="{% url 'blog' %}">בלוג/חדשות</a>
            <a href="{% url 'login' %}">התחברות</a>
            <a href="{% url 'register' %}">הרשמה</a>
            <a href="{% url 'contact' %}">יצירת קשר</a>
        </nav>
        
    </div>
</body>
</html>
