/* כללי */
body {
    margin: 0;
    font-family: david, sans-serif;
    background-image: url("{% static 'images/background2.jpeg' %}"); /* הוספת תמונת רקע */
    background-size: cover; /* מכסה את כל הרקע בתמונה */
    background-position: center; /* ממקם את התמונה במרכז */
    background-repeat: no-repeat; /* מונע חזרה על התמונה */
    color: #333;
    text-align: center; /* מרכז את הטקסט בעמוד כולו */
}

/* קונטיינר מרכזי */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e0f7fa; /* צבע רקע כחול בהיר לתוכן */
    border-radius: 8px; /* פינות מעוגלות */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל לתוכן */
    text-align: right; /* הטקסט בתוך הקונטיינר יהיה ממורכז לימין */
    direction: rtl; /* סידור טקסט מימין לשמאל */
}

/* סגנון כותרות */
h1, h2 {
    color: #00796b; /* צבע כהה לתכנים */
    margin: 0; /* להסיר רווחים מיותרים */
}

/* סגנון תצוגת חיות */
.pet {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; /* קו תחתון */
    padding-bottom: 20px;
}

/* סגנון תמונות */
.pet-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* פינות מעוגלות לתמונות */
}

/* תפריט ניווט */
nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #00796b;
    margin: 0 10px; /* רווחים בצדדים של הקישורים */
    display: inline-block; /* כך שהקישורים יהיו ממוינים לצד אחד */
}

nav a:hover {
    text-decoration: underline;
}
